---
pagination:
  data: events
  size: 1
  alias: event
permalink: "events2/{{ event.title | slug }}/"
---

<h1>title={{ event.title }}</h1>
<p>date={{ event.date | locale_date }}</p>
<p>url={{ page.url }}</p>
<p>tags={{ tags | json_stringify(0) | safe }}</p>
